.header {
  padding: 28px 48px 56px;
  background-image: url("../../images/header-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  min-height: 52px;
  margin: auto;
  max-width: 1184px;
}

@media screen and (max-width:1025px) {
  .header {
    padding: 28px 48px 48px;
  }
}
@media screen and (max-width:769px) {
  .header {
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width:321px) {
  .header {
    min-height: 42px;
    padding: 16px 16px 48px;
  }
}
