.cover {
  padding: 0 0 var(--padding);
  background-image: url('../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1184px;
  margin: auto;
}

@media screen and (max-width:769px) {
  .cover {
    padding: 0 0 var(--padding-tablet);
  }
}

@media screen and (max-width:600px) {
  .cover {
    padding: 0 0 var(--padding-mobile);;
  }
}
