.cover {
  padding: 0 0 var(--padding);
  max-width: 1184px;
  margin: auto;
}

@media screen and (max-width:769px) {
  .cover {
    padding: 0 0 var(--padding-tablet);
  }
}

@media screen and (max-width:600px) {
  .cover {
    padding: 0 0 var(--padding-mobile);
  }
}
