.header__switch-lang {
  display: flex;
  list-style: none;
  justify-content: end;
  margin: 0;
  padding: 19px 0 5px;
}

@media screen and (max-width:321px) {
  .header__switch-lang {
    padding: 17px 0 5px;
  }
}
