.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  max-width: 984px;
}

@media screen and (max-width:1025px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
    max-width: 928px;
  }
}
