.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 0 24px;
  max-width: 1184px;
  margin: auto ;
}

@media screen and (max-width:1025px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width:769px) {
  .footer {
    max-width: 720px;
  }
}
