.photos {
  padding: 0 0 var(--padding);
  max-width: 1184px;
  margin: auto;
}

@media screen and (max-width:1025px) {
  .photos {
    max-width: 928px;
  }
}

@media screen and (max-width:769px) {
  .photos {
    max-width: 720px;
    padding: 0 0 var(--padding-tablet);
  }
}
